/* margin auto ONLY works on block level elements */
.block-centering {
  background-color: red;
  height: 200px;
  width: 500px;
  margin: auto;
}

/* margin auto does NOT work on an inline block level element */
.inline-block {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  background-color:red;
  margin: auto;
}

.container {
  background-color: red;
  line-height:200px;
  text-align: center;
  height: 200px;
}

/* text-align center ONLY works on the parent of inline/inline-block elements*/
.circle {
  height: 50px;
  width: 50px;
  display:inline-block;
  background-color: blue;
  vertical-align: middle;
  border-radius: 25px;
}
